@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background-image: url('./assets/bms.jpg');
    background-size: cover; /* Ensure the background image covers the entire screen */
    background-position: center; /* Center the background image */
    font-family: 'Righteous', cursive;
    margin: 0; /* Remove default margins */
    padding: 0;
    height: 100vh; /* Set height to full viewport */
    overflow: hidden; /* Prevent unwanted scrollbars */
    color: white;
}

.container {
    background-color: rgba(64, 64, 64, 0.9);
    border-radius: 25px;
    margin: auto;
    padding: 20px;
    width: 350px;
    height: auto; /* Let the content dictate the height */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the container */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.input {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: calc(100% - 20px); /* Adjust for padding */
    font-size: 1.1rem;
    color: black;
}

.LoginButton {
    background-color: aqua;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Righteous', cursive;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.LoginButton:hover {
    background-color: white;
    color: black;
}

.SignupButton {
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

.error {
    color: red;
    font-size: 1rem;
    text-align: center;
}
